{% include 'top.html' %}
<style>
    div {
        color: black
    }
</style>
    <div id="content">

        <form class="pure-form pure-form-stacked login" method="POST" action="{{ url_for('login') }}">
            <h2>Log in</h2>

            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password">
            <input class="pure-button pure-button-primary" type="submit">
        </form>
    </div>
</body>
</html>
