<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pure.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
        <title>{{ page.title }}</title>
    </head>
    <script>
      setTimeout(function() {
          var flashMsg = document.getElementById('flashes');
          flashMsg.style.display = 'none';
      }, 3000);  // Adjust the duration (in milliseconds) as per your requirement
  </script>
    <body>
        <!-- Generating the menu and what happens when the user is logged in VS logged out -->
        <div id="header" class="pure-menu pure-menu-horizontal">

            {% if not session.logged_in %}
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{{ url_for('login')}}" class="pure-menu-link">Login</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('register')}}" class="pure-menu-link">Register</a></li>
                
            </ul>
            {% endif %}
            
            {% if session.logged_in %}
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{{ url_for('index')}}" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('message')}}" class="pure-menu-link">Message</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('posts')}}" class="pure-menu-link">Posts</a></li>
                {% if session.firstadmin %}
                <li class="pure-menu-item"><a href="{{ url_for('grantadmin')}}" class="pure-menu-link">Grant/Revoke Admin Access</a></li>
                {% endif %}
                {% if session.admin %}
                <li class="pure-menu-item"><a href="{{ url_for('usercontrol')}}" class="pure-menu-link">User Control</a></li>
                {% endif %}
                <li class="pure-menu-item"><a href="{{ url_for('accountsetting')}}" class="pure-menu-link">Account Setting</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('logout')}}" class="pure-menu-link">Logout</a></li>
            </ul>
            {% endif %}
        </div>
        <!--
            This is for our flashed messages
            Whenever we use flash('message in here')
            it will come out inside this list
        -->
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
