{% include 'top.html' %}
<style>
    #content {
        color: black;
        text-align: center;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

</style>


<div id="content" class="center">
    <form class="pure-form pure-form-stacked login" method="POST" action="{{ url_for('usercontrol') }}">
        <h2 class="textbox">See the list of usernames (The first is super admin): </h2>
        <p>{{usernames}}</p>
        <h2>Mute a User</h2>
        <p>Enter username below</p>
        <input type="text"  name="username" required>
        <input type="hidden" name="action" value="mute">
        <br>
        <input class="pure-button pure-button-primary" type="submit">
    </form>

    <form class="pure-form pure-form-stacked login" method="POST" action="{{ url_for('usercontrol') }}">
        <h2>Delete a User</h2>
        <p>Enter username below</p>
        <input type="text"  name="username"  required>
        <input type="hidden" name="action" value="delete">
        <br>
        <input class="pure-button pure-button-primary" type="submit">
    </form>
</div>
</body>
</html>